<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<hr>
<%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Удалить", post_path(@post), method: :delete, data: {confirm: "Вы точно хотите удалить статью?"}, :class => 'btn btn-danger' %>

<% if @post.comments.any? %>
  <hr>
  <div class="alert alert-light border rouded">
  <h3>Коментарии:</h3>
  <% @post.comments.each do |comment| %>
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
    <p><%= link_to "Удалить", [comment.post, comment], method: :delete, data: {confirm: "Вы точно хотите удалить коментарий"}, :class => '' %></p>
  <% end %>
</div>
<% end %>

<hr>
<h4>Добавить коментарий</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    Пользователь<br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Коментарий<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit('Добавить коментарий', {:class => 'btn btn-warning'}) %>
  </p>
<% end %>
